.content {
    text-align: left;
  }
  
  .poem {
    text-align: center;
  }
  
  .block1, .block2, .block3 {
    text-align: left;
  }
  
  .block4 {
    text-align: right;
  }
  
  .block2, .block4 {
    text-align: center;
  }
  